@use '../base/variables' as v;
@use '../base/mixins' as m;

.book {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Mui-selected {
        background-color: #000000 !important;
    }

    .MuiDateCalendar-root {
        font-family: v.$poppins !important;
        margin: 0 !important;
        width: 400px !important;
        margin-bottom: 20px !important;

        @include m.phone {
            width: 320px !important;
        }

        .MuiDayCalendar-header,
        .MuiDayCalendar-weekContainer {
            justify-content: space-around !important;
        }
    }

    &_selected {
        border: 1px solid rgba(0, 0, 0, 1) !important;
    }

    &_type-conteiner {

        @include m.tablet {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
        @include m.desktopS {
            display: flex;
            gap: 50px;
        }
    }

    &_type {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 8px;
        position: relative;
        min-width: 300px;
        margin-bottom: 10px;
        cursor: pointer;

        h3 {
            font-size: 20px;
            font-weight: 600;
        }

        h5 {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            border: .5px solid #000000;
            padding: 2px 4px;
            border-radius: 3px;
            margin-bottom: 30px;
        }

        h4 {
            font-size: 17px;
            font-weight: 400;
        }

        p {
            font-size: 10px;
            font-weight: 200;
            margin-bottom: 15px;
        }

        .type_check {
            position: absolute;
            top: 10px;
            right: 10px;

            .radio {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid rgba(0, 0, 0, .8);
                border-radius: 100%;
                height: 20px;
                width: 20px;
                cursor: pointer;

                .radio_check {
                    display: flex;
                    background-color: rgba(0, 0, 0, 1);
                    border-radius: 100%;
                    height: 12px;
                    width: 12px;
                }
            }
        }

        .time {
            margin-bottom: 10px;
            opacity: .2;
            
            .disable {
                border-radius: 20px;
                background-color: transparent;
                border: 1px solid transparent;
                padding: 7px 15px;
                font-size: 15px;
                margin-right: 5px;
                cursor: pointer;
            }

            .active {
                border-radius: 20px;
                background-color: transparent;
                padding: 7px 15px;
                font-size: 15px;
                margin-right: 5px;
                cursor: pointer;
                border: 1px solid #000000;
                color: #000000;
            }
        }

        .time_selected {
            opacity: 1;
        }
    }

    .amount_conteiner {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &_amount {
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        h3 {
            font-size: 18px;
            font-weight: 600;
        }

        p {
            font-size: 10px;
            font-weight: 300;
        }

        .amount_selector {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;

            button {
                font-size: 18px;
                font-weight: 300;
                background-color: #000000;
                border-radius: 100%;
                padding: 4px 7px 0 7px;
                color: #FFFFFF;
                cursor: pointer;
                border: none;

                &:active {
                    transform: scale(1.1);
                    transition: all 200ms ease;
                }
            }

            button:disabled {
                background-color: rgba(0, 0, 0, .2) !important;
            }

            h4 {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }

    &_btn {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        button {
            border: none;
            background-color: rgba(0, 0, 0, .7);
            padding: 10px 15px;
            border-radius: 20px;
            width: 30%;
            color: #FFFFFF;
            cursor: pointer;
            font-family: v.$poppins;
            font-weight: 300;
            font-size: 12px;

            &:active {
                transform: scale(0.9);
                transition: all 200ms ease;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        width: 80%;

        label {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        span {
            margin-left: 5px;
            color: rgba(198, 40, 40, .8);
        }

        input {
            outline: none;
            padding: 5px 2px;
            font-size: 13px;
            font-family: v.$poppins;
            font-weight: 300;
            margin-bottom: 10px;
        }

        textarea {
            outline: none;
            resize: none;
            padding: 5px 2px;
            font-size: 13px;
            font-family: v.$poppins;
            font-weight: 300;
            margin-bottom: 20px;
            height: 100px;
        }

        button {
            margin: auto;
            border: none;
            background-color: rgba(0, 0, 0, .7);
            padding: 10px 15px;
            border-radius: 20px;
            width: 70%;
            color: #FFFFFF;
            cursor: pointer;
            font-family: v.$poppins;
            font-weight: 300;
            font-size: 15px;

            &:active {
                transform: scale(0.9);
                transition: all 200ms ease;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }
}