@use '../base/mixins' as m;

.exposure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #000000;

    @include m.phone {
        grid-template-columns: repeat(1, 1fr);
    }
    @include m.tablet {
        grid-template-columns: repeat(1, 1fr);
    }
    @include m.desktopS {
        grid-template-columns: repeat(1, 1fr);
    }

    h3 {
        font-size: 35px;
    }

    p {
        font-size: 25px;
    }

    .grid-a {
        grid-column: 1 / 2 ;
        grid-row: 1 / 3 ;
        position: relative;

        @include m.phone {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            height: 550px;
        }
        @include m.tablet {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            height: 550px;
        }
        @include m.desktopS {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            height: 550px;
        }

        video, img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }

        .content-a {
            position: absolute;
            color: #FFFFFF;
            top: 25px;
            left: 25px;
        }

        h3 {
            width: 75%;
        }
    }

    .grid-b {
        grid-column: 2 / 3 ;
        grid-row: 1 / 2 ;
        height: 275px;
        position: relative;

        @include m.phone {
            grid-column: 1 / 1;
            grid-row: 2 / 2;
        }
        @include m.tablet {
            grid-column: 1 / 1;
            grid-row: 2 / 2;
        }
        @include m.desktopS {
            grid-column: 1 / 1;
            grid-row: 2 / 2;
        }

        video, img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }

        .content-b {
            position: absolute;
            color: #FFFFFF;
            bottom: 15px;
            right: 10px;
            text-align: right;
        }
    }

    .grid-c {
        grid-column: 3 / 4 ;
        grid-row: 1 / 2 ;
        height: 275px;
        position: relative;

        @include m.phone {
            grid-column: 1 / 1;
            grid-row: 3 / 3; 
        }
        @include m.tablet {
            grid-column: 1 / 1;
            grid-row: 3 / 3; 
        }
        @include m.desktopS {
            grid-column: 1 / 1;
            grid-row: 3 / 3; 
        }

        video, img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }

        .content-c {
            position: absolute;
            color: #FFFFFF;
            bottom: 15px;
            left: 25px;
        }
    }

    .grid-d {
        grid-column: 2 / 4 ;
        grid-row: 2 / 3 ;
        height: 275px;
        position: relative;

        @include m.phone {
            grid-column: 1 / 1;
            grid-row: 4 / 4; 
        }
        @include m.tablet {
            grid-column: 1 / 1;
            grid-row: 4 / 4; 
        }
        @include m.desktopS {
            grid-column: 1 / 1;
            grid-row: 4 / 4; 
        }

        video, img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }

        .content-d {
            position: absolute;
            color: #FFFFFF;
            bottom: 35px;
            left: 35px;
        }

        h3 {
            width: 65%;
        }
    }
}