.footer {
    min-height: 65px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;

    h3 {
        font-size: 15px;
    }
}