.home {

    .home_video {
        width: 100%;
        height: 750px;
        position: relative;

        .video_hashtag {
            position: absolute;
            left: 50px;
            top: 20px;
            
            h2 {
                color: #FFFFFF;
                font-size: 20px;
            }
            
            .hashtag_icon {
                position: absolute;
                color: #FFFFFF;
                font-size: 30px;
                left: 97%;
                top: 55%;
            }
        }

        .video_logo {
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            text-align: center;

            div {
                margin-bottom: 50px;

                img {
                    object-fit: cover;
                    width: 28%;
                    height: 100%;
                }
            }

            h2 {
                color: #FFFFFF;
                width: 20%;
                margin: auto;
                padding: 10px;
                background-color: #000000;
                border-radius: 50px;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 1px;
            }

        }

        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }



    .home_events {
        background-color: #FFFFFF;
        display: grid;
        grid-template-columns: 60% 40%;
        margin-top: 80px;

        h1 {
            font-size: 70px;
            width: 80%;
            padding-left: 170px;
        }

        .events_content {
            margin-right: 120px;

            h3 {
                font-size: 32px;
                margin-bottom: 5px;

                span {
                    color: #868686;
                }
            }

            p {
                width: 80%;
                font-size: 20px;
                margin-bottom: 40px;
                color: #868686;
                font-weight: 300;
            }
        }
    }

    .home_wine {
        position: relative;
        margin-bottom: -7px;
        
        img {
            object-fit: cover;
            width: 100%;
            height: 770px;
        }

        .wine_title {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            top: 35%;
            z-index: 99;

            h1 {
                color: #FFFFFF;
                font-size: 80px;
                width: 40%;
                margin: auto;
                margin-bottom: 10px;
            }

            h2 {
                width: 24%;
                margin: auto;
                padding: 12px;
                background-color: #FFFFFF;
                border-radius: 50px;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }

    .home_wine::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 99.2%;
        top: 0;
        background-color: rgba(0, 0, 0, .4);
    }
}