@use '../base/variables' as v;
@use '../base/mixins' as m;

.modal_book {
    background: #FFFFFF;
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 70%;
    margin: 3% auto;
    padding: 30px;
    border-radius: 12px;

    @include m.phone {
        flex-direction: column;
        gap: 20px;
        width: 95%;
    }
    @include m.tablet {
        flex-direction: column;
        gap: 20px;
        width: 90%;
        
    }
    @include m.desktopS {
        flex-direction: column;
        gap: 20px;
        width: 80%;
    }
}

.time_container {
    padding: 20px;
    border-radius: 12px;
    width: 400px;

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .time {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .disable {
            border-radius: 20px;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 7px 15px;
            font-size: 15px;
            margin-right: 5px;
            cursor: pointer;
            opacity: .2;
        }

        .active {
            border-radius: 20px;
            background-color: transparent;
            padding: 7px 15px;
            font-size: 15px;
            margin-right: 5px;
            cursor: pointer;
            border: 1px solid #000000;
            color: #000000;
            opacity: 1;
        }
    }
}

.modal_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


    .btn_cancel {
        margin: -20px auto 0 0;
        border: none;
        background-color: rgba(0, 0, 0, .7);
        padding: 8px 15px;
        border-radius: 20px;
        color: #FFFFFF;
        cursor: pointer;
        font-family: v.$poppins;
        font-weight: 300;
        font-size: 13px;

        @include m.phone {
            margin: 0 auto 0 auto;
        }
        @include m.tablet {
            margin: 0 auto 0 auto;
            
        }
        @include m.desktopS {
            margin: 0 auto 0 auto;
            
        }

        &:active {
            transform: scale(0.9);
            transition: all 200ms ease;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 1);
        }
    }
}