@use '../base/variables' as v;
@use '../base/mixins' as m;

.pay_success {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    min-height: 100vh;

    @include m.phone {
        width: 90%;
    }
    @include m.tablet {
        width: 90%;
    }
    @include m.desktopS {
        width: 90%;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        svg {
            color: #52DD11;
            font-size: 250px;
        }

        h1 {
            font-size: 50px;
            font-weight: 400;

            @include m.phone {
                font-size: 30px;
            }
        }

        button {
            border: none;
            background-color: rgba(0, 0, 0, .7);
            padding: 15px 50px;
            border-radius: 20px;
            color: #FFFFFF;
            cursor: pointer;
            font-family: v.$poppins;
            font-weight: 300;
            font-size: 20px;

            @include m.phone {
                padding: 12px 40px;
                font-size: 17px;
            }

            &:active {
                transform: scale(0.9);
                transition: all 200ms ease;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }
}