@use '../base/variables' as v;

.contents_first {
    width: 70%;
    margin: auto;
    margin-top: 50px;

    h2 {
        font-size: 40px;
    }

    h3 {
        width: 50%;
        font-size: 15px;
        color: #6D6D6D;
    }

    &-time {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
        gap: 30px;
        justify-items: center;
        text-align: center;

        div {
            display: flex;
            flex-direction: column;

            span:first-child {
                border: 1px solid #000000;
                border-radius: 20px;
                padding: 10px 70px;
                color: #000000;
                font-weight: 700;
                font-size: 17px;
                margin-bottom: 5px;
                cursor: pointer;
            }

            span {
                font-weight: 400;
                font-size: 15px;
            }

            .active {
                border: 1px solid red !important;
                color: red !important;
            }
        }

        .time-select {
            grid-column: 1 / 3;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin-left: 150px;
            }

            label {
                color: #000000;
                font-weight: 700;
                font-size: 17px;
                margin-bottom: 5px;
            }

            select {
                border: 1px solid #000000;
                border-radius: 20px;
                padding: 10px 30px;
                color: #000000;
                font-weight: 700;
                font-size: 17px;
                background-color: transparent;
                text-align: center;
                outline: none;
                margin-bottom: 5px;
                cursor: pointer;
            }

            span {
                margin-left: 275px;
            }

        }
    }
}

.contents_second {
    width: 70%;
    margin: auto;
    margin-top: 50px;

    h2 {
        font-size: 40px;
    }

    h3 {
        width: 50%;
        font-size: 15px;
        color: #6D6D6D;
        margin-bottom: 20px;
    }

    .type_select {
        display: flex;
        flex-direction: column;

        &-size {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #000000;
            border-radius: 20px;
            padding: 10px 15px 10px 70px;
            color: #000000;
            font-weight: 700;
            font-size: 17px;
            margin-top: 10px;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            margin-right: 5%;
            padding: 10px 15px 10px 70px;
            margin-bottom: 10px;

            div {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                font-size: 15px;
            }
        }

        &-info:last-child {
            margin-bottom: 0;
        }
    }
}

.contents_third {
    width: 70%;
    margin: auto;
    margin-top: 50px;

    h2 {
        font-size: 40px;
    }

    h3 {
        width: 50%;
        font-size: 15px;
        color: #6D6D6D;
        margin-bottom: 20px;
    }

    .Mui-selected {
        background-color: #000000 !important;
    }

    .MuiDateCalendar-root {
        font-family: v.$poppins !important;
        width: 400px !important;

        .MuiDayCalendar-header,
        .MuiDayCalendar-weekContainer {
            justify-content: space-around !important;
        }
    }
}

.contents_complete {
    padding: 0 3%;
    margin-top: 50px;

    &-title {
        width: 70%;
        margin: auto;
        margin-bottom: 30px;

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 15px;
            color: #6D6D6D;
        }
    }

    &-box {
        display: flex;
        gap: 15px;
        margin-bottom: 50px;
    }

    &-total {
        display: flex;
        flex: 1;
        flex-direction: column;
        border: 1px solid #000000;
        padding: 10px;
        border-radius: 12px;

        h3 {
            font-size: 15px;
            font-weight: 400;
        }

        h2 {
            font-size: 18px;
            font-weight: 600;
            margin: 5px 0 5px 0;
        }

        h2:last-child {
            margin-left: auto;
        }

        p {
            font-size: 10px;
            color: rgb(198, 40, 40);
            font-weight: 600;
            margin-bottom: 5px;
        }

        label {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                outline: none;
                padding: 5px 2px;
                font-size: 13px;
                font-family: v.$poppins;
                font-weight: 300;
                width: 60%;
                border: 1px solid rgb(198, 40, 40);
            }

            button {
                border: none;
                width: 60%;
                background-color: rgba(0, 0, 0, .7);
                padding: 7px 15px;
                border-radius: 20px;
                color: #FFFFFF;
                cursor: pointer;
                font-family: v.$poppins;
                font-weight: 300;
                font-size: 13px;
                outline: none;
                margin-bottom: 10px;
    
                &:active {
                    transform: scale(0.9);
                    transition: all 200ms ease;
                }
    
                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }
    }

    &-form {
        display: flex;
        flex: 1;
        flex-direction: column;

        label {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 3px;
        }

        span {
            margin-left: 5px;
            color: rgba(198, 40, 40, .8);
        }

        input {
            outline: none;
            padding: 5px 2px;
            font-size: 13px;
            font-family: v.$poppins;
            font-weight: 300;
            margin-bottom: 5px;
        }

        textarea {
            outline: none;
            resize: none;
            padding: 5px 2px;
            font-size: 13px;
            font-family: v.$poppins;
            font-weight: 300;
            margin-bottom: 20px;
            height: 55px;
        }

        button {
            margin: auto;
            border: none;
            background-color: rgba(0, 0, 0, .7);
            padding: 7px 15px;
            border-radius: 20px;
            width: 60%;
            color: #FFFFFF;
            cursor: pointer;
            font-family: v.$poppins;
            font-weight: 300;
            font-size: 13px;

            &:active {
                transform: scale(0.9);
                transition: all 200ms ease;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }
}